@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'ONE-Mobile-POP';
}


@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

h3{
    animation: blink-effect 1s step-end infinite;
}

h3 ,h4 ,h5{
    text-align: center;
}
li{
     list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color:blue;
}
span{
    font-size:11px;
}

#newstable{
    width: 60%;
    margin: 0 auto;
}
.newsbox:nth-child(2n + 1) {
  background: #d2d2d280;
}
.newsnum{
    text-align: center;
}

.table td,
th {
  padding: 10px 7px;
}

.table {
  margin-bottom: 20px;
  width: 100%;
}



button {
  margin-top: 5%;
  margin-left: 70%;
  display: inline-block;
  width: 50px;
  height: 31px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  border: 3px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  transform: translate3d(0, 0, 0);
}


.wave {
  opacity: .4;
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #0af;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-bottom: -301px;
  transform-origin: 50% 48%;
  border-radius: 43%;

  transition-duration: 1.2s;
  transition-property: margin-bottom;
  transition-timing-function: ease;
}

button:hover .wave {
  margin-bottom: -250px;
  animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}