<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 부트스트랩 css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>

<button type="button" onclick="location.href='/index'">
    <span class="wave"></span>
    <a>MAIN</a>
</button>

<h3>★ 원숭이 두창 뉴스 ★</h3>
<h4> 실시간 업데이트 [ 10개 출력 ]</h4>
<h5> 제목 클릭시 이동 </h5>

<div class="container">
        <div id="newstable"></div>
</div>

<!--  jquery -->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- 부트스트랩 js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/js/news.js"></script>
</body>
</html>